@mixin base() {
    display: flex;
    flex-wrap: wrap;
}

.page-footer {

    @include base;

    &__logo {
        display: block;
        height: 100%;
        margin: 2rem auto;
        width: 14rem;
        
    }

    &__logo2 {
        display: block;
        flex-basis: 50%;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 auto;
        width: 4rem;
    }
    
    &__logo3 {
        display: block;
        height: 100%;
        margin: 2rem auto;
        width: 18rem;
    }
    
    &__logo4 {
        display: block;
        margin: 0 auto;
        width: 4rem;
    }

    &__info,
    &__info2 {
        align-items: center;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size:cover;
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 auto;
        padding: 10rem 0;

        @media all and (min-width: 768px) {
            flex-basis: 50%;
            padding: 40rem 0;
        }
    }

    &__info {
        background-image: url('../images/unum-background.png');
    }

    &__info2 {
        background-image: url('../images/colonial-background.png');
    }

    &__image,
    &__image-1 {
        display: block;
        height: 100%;
    }
}
