@mixin base() {
    display: flex;
}

.page-footer {

    @include base;

    &__logo {
        display: block;
        height: 100%;
        margin: 0 auto;
        width: 14rem;
        
    }

    &__logo2 {
        display: block;
        flex-basis: 50%;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 auto;
        width: 4rem;
    }
    
    &__logo3 {
        display: block;
        height: 100%;
        margin: 0 auto;
        width: 18rem;
    }
    
    &__logo4 {
        display: block;
        margin: 0 auto;
        width: 4rem;
    }

    &__info {
        align-items: center;
        background-image: url('../images/unum-background.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size:cover;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 auto;
        max-width: 50%;
    }

    &__info2 {
        align-items: center;
        background-image: url('../images/colonial-background.png');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 auto;
        max-width: 50%;
    }

    &__image,
    &__image-1 {
        display: block;
        height: 100%;
    }
}
