@mixin base {
    background-image:  radial-gradient(circle at 50% 0, rgba(121, 167, 196, 0.5), rgba(31, 51, 64, 0.5)), linear-gradient(#1f3340, #1f3340);
}
.projects {
    @include base;

    & p {
        text-align: left;
    }

    .piloting-1 {
        padding: 0;
    }

    @import 'panels/projects-a';
    @import 'panels/projects-b';
    @import 'panels/projects-1';
    @import 'panels/projects-2';
    @import 'panels/projects-3';
    @import 'panels/projects-4';
    @import 'panels/projects-5';
    @import 'panels/projects-6';
    @import 'panels/projects-7';
    @import 'panels/projects-8';
    @import 'panels/projects-9';
    @import 'panels/projects-10';
    @import 'panels/projects-11';
    @import 'panels/projects-12';
}

.projects--unum {
    @extend .projects;
    // background-image: radial-gradient(circle at 50% 4%, #319fbd, #017999), linear-gradient(#0085a9, #0085a9);;
    // background-color: #319fbd;
    background-image: none;
    background-color: #00bac0;
}