.projects {
    h1,
    p {
        text-align: left;
    }

    .piloting-1 {
        padding: 0;
    }

    .showcase__panel--pilot-c {
        h1 {
            text-align: center;
        }
    }

    .showcase__panel--project-d,
    .showcase__panel--pilot-d {
        h1 {
            color: black;
        }
    }

    .showcase__panel {

        &--project-a,
        &--project-b,
        &--project-c,
        &--project-d,
        &--pilot-a,
        &--pilot-b,
        &--pilot-c,
        &--pilot-d {
            h1,
            section {
                max-width: 140rem;
                margin: 2rem auto;
            }

            h1 {
                text-align: left;
                font-size: 4.8rem;
            }

            section {
                display: flex;
                align-items: flex-start;

                div:first-child {
                    margin-top: 5rem;
                }
            }
        }

        &--pilot-c {
            h1 {
                text-align: center;
            }
        }
    }

    .showcase__panel--pilot-b {
        h1 {

            font-size: 3rem;

            @media all and (min-width: 768px) {
                font-size: 4rem;
            }
            
            @media all and (min-width: 800px) {
                font-size: 6rem;
            }
        }
    }

    @import 'panels/projects-a';
    @import 'panels/projects-1';
    @import 'panels/projects-2';
    @import 'panels/projects-3';
    @import 'panels/projects-4';
    @import 'panels/projects-5';
    @import 'panels/projects-6';
    @import 'panels/projects-7';
    @import 'panels/projects-8';
    @import 'panels/projects-9';
    @import 'panels/projects-10';
    @import 'panels/projects-11';
    @import 'panels/projects-12';
    @import 'panels/projects-13';
}

.projects--unum {
    @extend .projects;

    .showcase__panel {

        &--featured-b,
        &--featured-c,
        &--featured-d {
            h1,
            section {
                max-width: 140rem;
                margin: 2rem auto;
            }

            h1 {
                text-align: left;
                font-size: 4.8rem;
            }

            section {
                display: flex;
                align-items: flex-start;

                div:first-child {
                    margin-top: 5rem;
                }
            }
        }
    }
}

.projects--unum--pilots {
    @extend .projects--unum;

    .showcase__panel {

        &--featured-e,
        &--featured-f {
            h1,
            section {
                max-width: 140rem;
                margin: 2rem auto;
            }

            h1 {
                text-align: left;
                font-size: 4.8rem;
            }

            section {
                display: flex;
                align-items: flex-start;

                div:first-child {
                    margin-top: 5rem;
                }
            }
        }

    }
}

.projects--pilots {
    @extend .projects;
}