@mixin base {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}  

.coming-2017-1 {
    @include base;

    &__content {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    & h1 {
        font-size: 4.8rem;
        line-height: 1;

        @media screen and (min-width: 768px) {
            font-size: 6rem;
        }
    }


    &__list {
        padding-left: 2rem;

        &::after {            
            border: 1px solid rgba(255, 255, 255, 0.5);
            content: '';
            display: block;
            margin: 7rem 0;
            width: 150px;
        }
    }

    & li {
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }

    &__image-container {
        align-self: center;
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 auto;
        padding-top: 6rem;
        padding-left: 2rem;

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
            max-width: 50%;
        }
    }

    &__image {
        width: 500px;

        @media screen and (min-width: 768px) {
            width: 700px;
        }
    }
}