@mixin base {
    background-image: linear-gradient(to bottom, #67a14c, #688465);
    min-height: 100vh;
    // padding: 2rem;

    @media screen and (min-width: 768px) {
        // padding: 4rem;
    }
}

.email-marketing {
    @include base;

    &__circle {
        margin: 0 auto;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        border: 14px solid #fff;
        position: relative;

        &-text1 {
            // position: absolute;
            // top: 70px;
            // bottom: 0;
            // left: 0;
            // right: 0;
            line-height: 11rem;
            font-size: 11rem;
            font-weight: 700;
            margin-top: 80px !important;
        }

        &-text2 {
            // position: absolute;
            font-size: 4.5rem;
            // top: 150px;
            // bottom: 0;
            // left: 0;
            // right: 0;
        }
    }

    @import 'email-marketing-1';
}