@mixin base {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.email-marketing-2 {
    @include base;

    &--cl {
        @extend .email-marketing-2;
        
        background-image: none;
    }

}


