.email-marketing-1 {
    
    p {
        margin: 0 auto;
        text-align: center;
    }

    & li {
        font-size: 2rem;

        @media screen and (min-width: 1100px) {
            font-size: 3rem;
        }
    }

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

     &__value {
        font-size: 9rem;
        font-weight: 700;

        @media screen and (min-width: 768px) {
            font-size: 11rem;
        }
    }

    &__label {
        font-size: 2rem;

        @media screen and (min-width: 1100px) {
            font-size: 3rem;
        }
    }

    &--cl {
       @extend .email-marketing-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--unum {
        padding-bottom: 2rem;
    }

    &__heading {
        margin-bottom: 1.5rem !important; //<--- SO SORRY! - It's okay.
    }

    &__image,
    &__image1 {
        height: auto;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;

        @media screen and (min-width: 768px) {
            height: auto;
            max-height: 50%;
            max-width: 50%;
            width: auto;
        }
    }

    &__image1 {
        padding-top: 5rem;
    }

    &__grouping {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 5rem;
        padding-bottom: 5rem;
        justify-content: space-around;
        width: 100%;
    }

    &__group {

        &-sub {
            margin-top: 5rem;
        }


        &-text {
            font-weight: 600;
            margin-bottom: 6rem !important;
        }

        &:last-child {
            padding-bottom: 20rem;
        }
    }
    
     &__group-1 {
            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            margin-top: 1.5rem;

            @media screen and (min-width: 680px) {
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 1;
            }

            p {
                font-size: 2.4rem;
            }

            h1 {
                margin-bottom: 3rem;
            }
        }

        &__group-2 {

            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            margin-top: 1rem;

            @media screen and (min-width: 1024px) {
                flex-basis: 50%;
                flex-grow: 1;
                flex-shrink: 1;
            }

                p {
                    font-size: 2.4rem;
                }

        }

    .email-marketing-3 {

        &__circle {

            &-text1 {
                font-size: 9rem;
                font-weight: 700;
                line-height: 11rem;

                @media screen and (min-width: 1100px) {
                    font-size: 11rem;
                    // margin-top: 80px !important;

                }

            }

            &-text2 {
                // font-size: 1.5rem;
                margin-top: 15%;

                @media screen and (min-width: 1100px) {
                    font-size: 2.4rem;
                    margin-top: 20%;
                }

            }

            &-text3 {
                font-size: 1.5rem;

                @media screen and (min-width: 1100px) {
                    font-size: 2.4rem;
                }
            }

            &-text4 {
                font-size: 7.5rem;
                font-weight: 700;
                line-height: 10rem;
                margin-top: 80px !important;

            }

            &-text5 {
                // font-size: 1.5rem;
                padding-left: 4rem;
                padding-right: 4rem;

                @media screen and (min-width: 1100px) {
                    font-size: 2.4rem !important;
                    padding-left: initial;
                    padding-right: initial;
                }
            }

            &-text6 {
                line-height: 11rem;
                font-size: 9rem;
                font-weight: 700;

                @media screen and (min-width: 1100px) {
                    font-size: 11rem;
                }
            }

        }

    }
    
}