@mixin base {
    background-image: radial-gradient(circle at 49% 1%, #71af46, #60953a), linear-gradient(#67a14c, #67a14c);
    min-height: 100vh;
}

.email-marketing {
    @include base;

    &__circle2 {
            margin: 40rem auto;
            height: 350px;
            width: 350px;
            border-radius: 50%;
            border: 14px solid #fff;
            position: relative;

            @media screen and (min-width: 1100px) { // messes up text if we change size of the circle
                height: 400px;
                width: 400px;
            }
        }

    .showcase__panel  &__circle {
        margin: 2rem auto;
        height: 350px;
        width: 350px;
        border-radius: 50%;
        border: 14px solid #fff;
        position: relative;

        @media screen and (min-width: 1100px) { // messes up text if we change size of the circle
            height: 400px;
            width: 400px;
        }

        &-text1 {
            line-height: 11rem;
            font-size: 9rem;
            font-weight: 700;
            margin-top: 80px;

            @media screen and (min-width: 1100px) {
                font-size: 11rem;
                margin-top: 90px;
            }
        }

        &-text2 {
            font-size: 2.5rem;

            @media screen and (min-width: 1100px) {
                font-size: 4.5rem;
            }
        }

        &__circle2 {
            margin: 40rem auto;
            height: 350px;
            width: 350px;
            border-radius: 50%;
            border: 14px solid #fff;
            position: relative;

            @media screen and (min-width: 1100px) { // messes up text if we change size of the circle
                height: 400px;
                width: 400px;
            }
        }
    }

    @import 'email-marketing-1';
    @import 'email-marketing-2';
    @import 'email-marketing-3';
}

.email-marketing--unum {
    @extend .email-marketing;
    background-image: linear-gradient(to bottom, #00bac0, #02647f);
}

.email-marketing--cl {
    @extend .email-marketing;
    background-image: radial-gradient(circle at 49% 1%, #71af46, #60953a), linear-gradient(#67a14c, #67a14c);
}

// .email-marketing-2 {
//     @include base;
//     @import 'email-marketing-2';
// }