@mixin base {

}

.email-marketing-1 {

    & h1 {
        margin-bottom: 0.5rem;
        font-size: 5rem;
        font-weight: 600;
    }
    
    p {
        font-family: "source sans pro";
        font-size: 3rem;
        text-align: center;
        letter-spacing: -.05px;
        font-weight: normal;
    }

    & li {
       @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

     &__value {
        font-size: 9rem;
        font-weight: 600;
    }

    &__label {
        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }

    &__group1 {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 5px solid #fff;
            margin: 7rem auto;
        }
    }

    &__group2 {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }

    &__group3 {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }

    &__group4 {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }

    &__group5 {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }

    &__group6 {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }

    &__group7 {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }

    &__group8 {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }
}