@mixin base {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1100px) {
    }

    @media screen and (min-width: 1500px) {
    }

    @media screen and (min-width: 1800px) {
    }

}

.email-marketing-2 {
    @include base;

    &--cl {
        @extend .email-marketing-2;
        
    }

}



