@mixin base {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.email-marketing-2 {
    @include base;


}

.email-marketing-2--cl {
    @include base;
        
    background-image: none;
}

