@mixin base {

}

.relevant-1 {
    @include base;
    
    h1 {
        font-size: 6rem;
        line-height: 0.8;
        font-weight: 600;

        @media screen and (min-width: 768px) {
            font-size: 9.9rem;
        }
    }

    p {
        font-size: 2.8rem;

        @media screen and (min-width: 768px) {
            font-size: 3.2rem;
        }
    }
}