@mixin base {

    @media screen and (min-width: 1100px) {
        // @include full-width;
    }

    @media screen and (min-width: 1500px) {
        // @include full-width;
    }

    @media screen and (min-width: 1800px) {
        // @include full-width;
    }

}

.relevant-1 {
    @include base;
    
    & h1 {
            font-size: 6rem;
            line-height: 0.8;
            font-weight: 600;
            margin: 0;
            padding-bottom: 2rem;

            @media screen and (min-width: 768px) {
                font-size: 9.9rem;
            }
        }

        & p {
            font-size: 2.8rem;
            max-width: 120rem;


            @media screen and (min-width: 768px) {
                font-size: 3.2rem;
            }
        }
}