@mixin base {
    display: flex;
    flex-wrap: wrap;
}

.efficiencies-1 {

    @media screen and (min-width: 768px) {
        @include base;
    }

    p {
        flex-basis: 100%;
    }

    &__content {
        background-color: #1f3340;
        border-radius: 3px;
        box-shadow: 13px 15px 18px 0 rgba(0, 0, 0, 0.25);
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        margin-bottom: 2rem;
        padding: 2rem;
        text-align: center;

        @media all and (min-width: 768px) {
            padding: 4rem 2rem;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
        }
        
        @media screen and (min-width: 768px) {
            width: calc(30% - 2rem);
            flex-basis: auto; // replaces flex-basis: calc because IE10
            flex-grow: 1;
            flex-shrink: 0;
            margin: 1rem;
        }
        
        @media screen and (min-width: 960px) {
            width: calc(30% - 2rem);
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 0;
            margin: 1rem;
        }
    }

    &__heading {
        color: $yellow;
        margin-bottom: 2rem;
        font-size: 2.4rem;

        @media screen and (min-width: 960px) {
            font-size: 3.5rem;
        }
    }
}