@mixin base {
    // background-size: 100% auto;
    padding: 2rem;
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-content: center;
    // align-items: center;

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }
}

.efficiencies-1 {
    @include base;

    h1 {
        font-variant: small-caps;
        font-size: 4rem;
        text-align: left;
    }

    

    &__content {
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 23rem;
        padding: 2rem;
        margin: 0 auto;
        margin-right: 2rem;
        margin-bottom: 2rem;
        background-color: #1f3340;
        box-shadow: 13px 15px 18px 0 rgba(0, 0, 0, 0.25);

        li {
            margin-left: -4rem;
            font-size: 1rem;
            list-style-type: none;
            text-align: left;
            margin-bottom: .75rem;
        }

        h1 {
            font-size: 2rem;
        }
    }

    &__heading {
        background-color: #1f3340;
        width: 23rem;
        padding: 1rem;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    }
}