@mixin base {
    background-image: url('../images/motion-background.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.videos {
    @include base;

    p {
        font-size: 2rem;
        font-weight: 300;
        text-align: left;
    }
}
.videos-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
    }

    &__heading {
        font-size: 3.5rem !important;
        text-transform: none !important;
        font-weight: 400 !important;
    }

    &__video {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        height: 176px;
        overflow: hidden;
        width: 321px;
    }

    &__video-container {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        @media screen and (min-width: 1200px) {
            flex-basis: 33.3333%;
            flex-grow: 1;
            flex-shrink: 1;
        }

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }

        @media screen and (min-width: 1320px) {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }

        h1 {
            display: block;
            font-size: 3rem;
            margin: 0 auto;
            text-align: left;
        }

        p {
            font-size: 2rem;
            margin: 0 auto;
        }
    }
}

.videos-1__video-container--unum {
    @extend .videos-1__video-container;
}

.videos-1__heading--unum {
    @extend .videos-1__heading;
}