@mixin base {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title-1 {
    @include base;

    p {
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 26.4px;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 4.4rem;
        }
    }

    a {
        display: inline-block;
        margin: 5rem;
    }

    &__image {
        width: 3.5rem;
    }
}