@mixin base {
    padding: 2rem;
}


.title-1 {
    & h1 {
        font-family: "source sans pro";
        letter-spacing: 26.4px;
        font-size: 4.4rem;
    }

    & p {
        font-variant: small-caps;
        font-size: 4.4rem;
        letter-spacing: 26.4px;
    }
}