@mixin circle($color: #ffffff, $bg: #ffffff) {

    @for $i from 1 through 50 {
        &[data-percentage="#{$i}"]::after {
            $degrees: $i * 3.6 + 45; // 45 extra degrees to rotate borders into place
            border-color: $bg $bg transparent transparent;
            transform: rotate(#{$degrees}deg);
        }
    }

    @for $i from 51 through 100 {
        &[data-percentage="#{$i}"]::after {
            $degrees: $i * 3.6 - 135; // 180 - 45
            border-color: $color $color transparent transparent;
            transform: rotate(#{$degrees}deg);
        }
    }
    &::before,
    &::after {
        border-color: $color;
    }

    &[data-percentage] {
        height: 25rem;
        width: 25rem;

        &::before {
            border-color: $color $color $bg $bg;
            border-width: 1.5rem;
        }

        &::after {
            border-width: 1.5rem;
        }
    }

}

@mixin base() {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    position: relative;
    width: 30rem;
    margin: 1rem;
    max-height: calc(100vw - 6rem);
    max-width: calc(100vw - 6rem);

    &::before,
    &::after {
        content: '';
        border-width: 0.4rem;
        border-style: solid;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: rotate(45deg);
    }

}

.circle {
    @include base;
    @include circle();

    &[data-percentage] {
        @include circle(#00a7d4);
    }

    &--large {
        @include base;
        @include circle();

        @media all and (min-width: 768px) {
            height: 40rem;
            width: 40rem;
        }

        @media all and (min-width: 1024px) {
            height: 50rem;
            width: 50rem;
        }
    }

    &--pct-2015 {
        @include base;
        @include circle(#efc261);
    }

    &--pct-2016 {
        @include base;
        @include circle(#48aec8);
    }

    &--unum {
        @include base;
        @include circle(#00a7d4);
    }

    &--unum-group {
        @include base;
        @include circle(#9cca62);
    }

    &--colonial-life {
        @include base;
        @include circle(#3baecc);
    }

    &--paul-revere {
        @include base;
        @include circle(#a4cc44);
    }

    @import "icon";
    @import "action";
    @import "label";
    @import "value";
}