@mixin base() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    margin-bottom: 1rem;
    width: 5rem;

}

&__icon {
    @include base;

    &--mobile {
        @include base;

        background-image: url("../../images/smartphone-icon.svg");
    }

    &--tablet {
        @include base;

        background-image: url("../../images/apple-monitor-1-icon.svg");
    }

    &--desktop {
        @include base;

        background-image: url("../../images/tablet-icon.svg");
    }
}