@mixin base() {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
}

&__value {
    @include base;


    &--large {
        @include base;

        font-size: 6rem;

        @media screen and (min-width: 768px) {
            font-size: 8rem;
        }

        .circle--large & {
            
            @media all and (min-width: 768px) {
                font-size: 12rem;
            }
            
            @media all and (min-width: 1024px) {
                font-size: 16rem;
            }
        }
    }
}