@mixin base {
    text-align: left;
}

.agile-projects-1 {
    @include base;


    &__content {
        
        h1 {
            font-size: 32px;
            font-weight: 400;
        }

        p {
            font-size: 2rem;            
        }
    }

    &__group {

        &::after {
            border: 0.5px solid rgba(255, 255, 255, 0.5);
            content: '';
            display: block;
            margin-top: 6rem;
            width: 150px;
        }

        &:last-child::after {
            display: none;
        }

        h1 {
            font-size: 5rem;
            font-weight: 600;

            @media screen and (min-width: 768px) {
                font-size: 6rem;
            }
        }
    }
}

.lower {
    text-transform: lowercase;
}