@mixin base {
    padding: 2rem;
}

.agile-projects-1 {

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 5px solid #fff;
            margin: 7rem auto;
        }
    }

    & li {
        font-size: 3rem;
    }

    & h1 {
        margin-bottom: 0.5rem;
        font-size: 5rem;
        font-weight: 600;
    }

    // &__group-1 {

    // }

    // .lower {
    // }
}