@mixin base {
    text-align: left;
}

.agile-projects-1 {
    @include base;


    &__content {
        margin-bottom: 6rem;
        
        h1 {
            margin-bottom: 0.5rem;
        }
    }

    &__group {
        max-width: 140rem;

        &::after {
            border: 0.5px solid rgba(255, 255, 255, 0.5);
            content: '';
            display: block;
            margin-top: 6rem;
            width: 150px;
        }

        &:last-child::after {
            display: none;
        }

    }
}

.lower {
    text-transform: lowercase;
}