@mixin base {
    background-color: #1f4f7f;
    min-height: 100vh;

    @media screen and (min-width: 1330px) {
        min-height: 50vh;
    }
}

.intro { 
    @include base;

    @import 'intro-1';
}