@mixin base {
}

.intro { 
    @include base;

    &__image {
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 30rem;

        @media screen and (min-width: 768px) {
            width: 35rem;
        }
    }

    .yellow {
        color: $yellow;
    }

    @import 'intro-1';
}