@mixin base {
    padding: 10rem 2rem 2rem;
    min-height: 100vh;
}

.intro-1 {
    @include base;

    h1 {
        font-size: 4rem;
    }

    & p {
        font-size: 2.8rem;
        max-width: 81rem;
        margin: 0 auto;
        margin-bottom: 2rem;

        @media screen and (min-width: 768px) {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }
    }

    &__image {
        width: 3.5rem;
    }

    &__description {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }

    &__question {
        font-variant: small-caps;
        color: $lime-green;
    }

}