@mixin base {

}

.intro-1 {
    & p {
        font-size: 3.6rem;
        max-width: 81rem;
        margin: 0 auto;
    }

    &__description {

        &::after {
            content: '';
            display: block;
            width: 100px;
            border: 1px solid #fff;
            margin: 7rem auto;
        }
    }

    &__question {
        font-variant: small-caps;
    }

}