@mixin base {
}

.intro-1 {
    @include base;

    & p {

        @media screen and (min-width: 768px) {
            // font-size: 3.6rem;
        }
    }

    &__image {
        width: 3.5rem;
        margin: 5rem;
    }

    &__description {

        &::after {
            border: 1px solid #fff;
            content: '';
            display: block;
            margin: 7rem auto;
            width: 100px;
        }
    }

    &__question {
        color: $lime-green;
        text-transform: uppercase;
    }

     a {
        background-image: url(../images/down-arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 3rem;
        margin-top: 3rem;
        width: 3rem;
    }
}