@mixin base() {
    margin: 0 auto;
    padding: 15rem 5rem;
    width: 100%;

    @media all and (min-width: 768px) {
        padding: 35rem 10rem;
    }
}

&__panel {
    @include base;

    //sizing stuff
    &--intro,
    &--engage,
    &--quality,
    &--new,
    &--establish,
    &--relevant,
    &--persona,
    &--sitecore,
    &--starmount {
        section {
            max-width: 130rem;
            margin: 0 auto;
        }
    }

    &--persona {
        h1 {
            max-width: 130rem;
            margin: 0 auto;
        }
    }
    
    
    //OVERVIEW SITE BG COLORS
    &--title {
        @include base;
        background-color: #005488;
        background-image: radial-gradient(circle, hsla(255,255,255,0.25) 0%, hsla(0,0,0,0.25) 100%);
    }

    &--intro {
        @include base;
        background-color: #005488;
        background-image: linear-gradient(180deg, hsla(255,255,255,0.20) 0%, hsla(0,0,0,0.20) 100%);
    }

    &--engage {
        @include base;        
        background-color: #005488;
        background-image: linear-gradient(180deg, hsla(255,255,255,0.20) 0%, hsla(0,0,0,0.20) 100%);
    }

    &--quality {
        @include base;        
        background-color: #1E6679;
        background-image: linear-gradient(180deg, hsla(255, 255, 255, 0.20) 0%, hsla(0,0,0, 0.20) 100%);
    }

    &--new {
        @include base;        
        background-color: #688465;
        background-image: linear-gradient(180deg, hsla(255, 255, 255, 0.20) 0%, hsla(0,0,0, 0.20) 100%);
    }

    &--establish {
        @include base;        
        background-color: #7F2725;
        background-image: linear-gradient(180deg, hsla(255, 255, 255, 0.20) 0%, hsla(0,0,0, 0.20) 100%);
    }

    &--relevant { 
        @include base;        
        background-color: #374755;
        background-image: linear-gradient(180deg, hsla(255, 255, 255, 0.20) 0%, hsla(0,0,0, 0.20) 100%);
    }

    &--comparison {
        @include base;        
        background-image: linear-gradient(180deg, #595456 0%, #231F20 100%);
    }

    &--persona {
        @include base;        
        background-image: linear-gradient(0deg, #45536F 0%, #232B3B 100%);
    }

    &--efficiencies {
        @include base;
        background-image: url("../images/conference-1.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1.5rem 1.5rem;

        @media all and (min-width: 768px) {
            padding: 15rem 5rem;
        }
    }

    &--sitecore {
        @include base;
        background-color: #1E6679;
        background-image: linear-gradient(180deg, hsla(255, 255, 255, 0.20) 0%, hsla(0,0,0, 0.20) 100%);
    }

    &--starmount {
        @include base;
        background-color: #374755;
        background-image: linear-gradient(180deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    }

    &--stats-a {
        @include base;
        background-color: #7F2725;
        background-image: linear-gradient(180deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    }

    &--alert {
        background-color: #E0832E;
    }

    //COLONIAL SITE BGs
    &--stats-2 {
        @include base;        
        background-color: #1F3340;
    }

    &--paul {
        @include base;        
        background-color: #1A2833;
    }

    &--email-a {
        @include base;        
        background-color: #67A14C;
        background-image: radial-gradient(circle, #71AE47 0%, #60953B 100%);
    }

    &--email-b {
        @include base;        
        background-color: #67A14C;
        background-image: radial-gradient(circle, #5B7B55 0%, #41643C 100%);
    }

    &--project-a,
    &--pilot-b {
        @include base;        
        background-color: #1F3340;
        background-image: radial-gradient(circle, rgba(122,167,197,0.5) 0%, rgba(31,51,64,0.5) 100%);
    }

    &--project-b {
        @include base;        
        background-color: #67A14C;
        background-image: radial-gradient(circle, #90C869 0%, #60953B 100%);
    }

    &--project-c,
    &--pilot-a {
        @include base;        
        background-color: #688465;
        background-image: radial-gradient(circle, rgba(185,228,180,0.5) 0%, rgba(104,132,101,0.5) 100%);
    }

    &--project-d,
    &--pilot-d {
        @include base;        
        background-color: #E0DDCE;
        background-image: radial-gradient(circle, rgba(255,255,255,0.5) 0%, #CFCAB9 100%);
    }

    &--pilot-c {
        @include base;
        background-image: url("../images/paid-search-pilot@2x.jpg");
        background-repeat: no-repeat;
        background-size: cover;    
    }

    &--agile-1 {
        @include base;
        background-image: url("../images/empact.jpg");
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: 50% 50%;  
    }
    
    &--agile-2 {
        @include base;
        background-image: url("../images/Field Appeal-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;    
    }

    &--agile-3 {
        @include base;
        background-image: url("../images/plana-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;    
    }

    &--agile-4 {
        @include base;
        background-image: url("../images/plana.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;    
    }

    &--videos {
        background-image: url('../images/motion-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    //UNUM BGs
    &--stats-2-unum {
        @include base;
        background-color: #007478;
    }

    &--stats-3-unum {
        @include base;
        background-color: #375469;
    }

    &--email-2-unum {
        @include base;
        background-image: linear-gradient(179.01deg, #00BAC0 0%, #077695 100%);
    }

    &--email-1-unum {
        @include base;
        background-image: linear-gradient(180deg, #04637E 0%, #02495D 100%);
    }

    &--featured-a,
    &--featured-d,
    &--featured-g {
        @include base;
        background-color: #B7E1FF;
        background: radial-gradient(circle, #627F95 0%, #2C4F69 100%);
    }

    &--featured-b,
    &--featured-f {
        @include base;
        background-color: #00BAC0;
        background: radial-gradient(circle, #139DA6 0%, #10767F 100%);
    }

    &--featured-c,
    &--featured-e {
        @include base;
        background-color: #0085A9;
        background: radial-gradient(circle, #319FBD 0%, #027999 100%);
    }

    &--featured-g {
    }

    &--featured-h {
        @include base;
        background-image: url('../images/content-pilot.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--videos {
        background-image: url('../images/motion-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3rem 3rem;

        @media all and (min-width: 768px) {
            padding: 10rem 20rem;
        }
    }

    &--videos-1 {
        background-image: url('../images/motion-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3rem 3rem;

        @media all and (min-width: 768px) {
            padding: 10rem 20rem;
        }

    }
}