@mixin base() {
    text-align: center;
}

.showcase {
    @include base;

    h1 {
        font-weight: 600;
        text-transform: uppercase;
    }

    &__image {
        max-width: 100%;
        width: auto;
    }

    @import "heading";
    @import "panel";
}