@mixin base() {
}

.showcase {
    @include base;
    text-align: center;

    &__heading {
        position: relative;
        margin-top: 0;
        font-variant: small-caps;
        color: #333;
        background-color: #fff;
        font-family: "oswald";
        font-weight: 300px;

        @media screen and (min-width: 768px) {
            font-size: 6rem;
        }
        
        &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: #fff;
            border-width: 3rem;
            margin-left: -3rem;
        }
    }

    &__heading2 {
        position: relative;
        margin-top: 0;
        font-variant: small-caps;
        color: #fff;
        background-color: #1f3340;
        font-family: "oswald";
        font-weight: 300px;
        border-top: 3px solid white;

        @media screen and (min-width: 768px) {
            font-size: 6rem;
        }
        
        &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: #1f3340;
            border-width: 3rem;
            margin-left: -3rem;
        }
    }



    &__panel {
        margin: 0 auto;

        & h1 {
            font-variant: small-caps;
        }
    }

    & h1 {
        font-weight: 600;
        font-size: 4.8rem;

        @media screen and (min-width: 768px) {
            font-size: 6rem;
        }
    }

    &__image { // on home page 
        height: 16rem;
        width: auto;
        padding: 2rem;

        @media screen and (min-width: 768px) {
            height: 30rem;
            width: auto;
        }

        @media screen and (min-width: 1320px) {
            height: 32.9rem;
        }
    }

}