@mixin base {

}

.showcase__panel--sitecore {
}

.sitecore-1 {
    @include base;

    span {
        display: block;
        font-size: 10rem;
        margin-top: 5rem;
        margin-bottom: 3rem;


        @media all and (min-width: 768px) {
            font-size: 18rem;
            margin-bottom: 5rem;
            margin-top: 7rem;

        }

        @media all and (min-width: 1024px) {
            font-size: 24rem;
            margin-bottom: 6rem;
            margin-top: 10rem;
        }
    }

    &__image {
        display: block;
        height: auto;
        margin: 0 auto;
        margin-bottom: 1rem;
        width: 8rem;

        @media all and (min-width: 768px) {
            width: 12rem;
        }
    }

    &__label {
        text-transform: uppercase;
    }

    &__list-item2 {
        font-size: 2.5rem;
        list-style-type: none;
    }
}