@mixin base {

}

.email-1 {
    @include base;

        &__image {
            width: 18rem;
            margin-bottom: 5rem;
        }
        
        &__circle {
            &-value {
                position: absolute;
                top: 5rem;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 10rem;
                margin: 0;
                padding: 0;

                @media screen and (min-width: 768px) {
                    font-size: 15rem;
                    top: 9rem;
                }
            }

            &-label {
                position: absolute;
                top: 12rem;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 4rem;
                margin: 0;
                padding: 0;
                font-weight: 400;
                font-variant: small-caps;

                @media screen and (min-width: 768px) {
                    font-size: 4rem;
                    top: 18rem;
                }
            }

            &-percent {
                position: absolute;
                top: 40px;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 4rem;
                margin: 0;
                padding: 0;
                font-weight: 400;
            }
        }

        .email-1__circle--percent-1 {
            margin: 4rem auto;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            line-height: 250px;
            font-weight: 600;
            position: relative;

            @media screen and (min-width: 768px) {
                display: inline-block;
                margin: 0 4rem;
                width: 450px;
                height: 450px;
            }

            &::before, &::after {
                content: '';
                border: 2.5rem solid #aaa;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border-color: $ocean #fff #fff $ocean;
                transform: rotate(-45deg);
                transition: transform 1s;
            }

            &::after {
                border-color: white transparent transparent white;
                transform: rotate(-45deg);
            }

            &::before {
                transform: rotate(135deg);
            }
        }

        .email-1__circle--percent-1 {
            background-repeat: no-repeat;
            background-position: 50% 30%;
        }

    &__small {
        font-size: 3rem;
        font-weight: 400;
    }
}