@mixin base {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1100px) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.projects-7 {
    @include base;

    h1 {
        font-size: 4.8rem;
        font-weight: 600;
        // line-height: 1;
        margin: 3rem auto;
        text-align: left;
        text-transform: uppercase;
    }

    p {
        font-size: 2rem;
    }

    &__para {
        padding-bottom: 2rem;

        h1 {
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1px;
            margin-bottom: 0.5rem;
        }
    }

    &__image-container {
        margin: 0 auto;
        padding-top: 4em;  // mobile only

        @media screen and (min-width: 1100px) {
            padding-top: initial;
            padding-left: 2rem;
        }
    }

    &__image {
        height: 200px;
        width: auto;

        @media screen and (min-width: 680px) {
            height: 350px;
        }

        @media screen and (min-width: 1300px) {
            height: 479px;
        }
    }

    &__content {
        @media screen and (min-width: 1100px) {
            flex-basis: 33.3333%;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
}