@mixin base {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1100px) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.projects-1 {
    @include base;

    p {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    &__image-container {
        padding-top: 4em;  // mobile only

        @media screen and (min-width: 1100px) {
            padding-top: initial;
            padding-left: 2rem;
        }
    }

    &__image {
        height: 200px;
        width: auto;

        @media screen and (min-width: 680px) {
            height: 350px;
        }

        @media screen and (min-width: 1300px) {
            height: 479px;
        }
    }

    &__image2 {

        height: 200px;
        width: auto;

        @media screen and (min-width: 680px) {
            height: 350px;
        }

        @media screen and (min-width: 1300px) {
            height: 370px;
        }

    }

    &__content {
        @media screen and (min-width: 1100px) {
            flex-basis: 33.3333%;
            flex-grow: 1;
            flex-shrink: 1;
        }

        h1 {
            text-align: left;
            // line-height: 1;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 4.8rem;
            margin: 3rem 0;
        }
    }
}

.projects-1--unum {
    @extend .projects-1;
}