@mixin base {
    padding: 2rem;
    background-image: radial-gradient(circle at 52% 0, #90c869, #60953a), linear-gradient(#67a14c, #67a14c);

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }
}

.projects-4 {
    @include base;

    & h1 {
        text-align: left;
    }

    & p {
        max-width: 120rem;

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }
}