@mixin base {
    padding: 2rem;
    background-image: radial-gradient(circle at 50% 5%, #627f95, #2c4f68), linear-gradient(#b7e1ff, #b7e1ff);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }

    @media screen and (min-width: 1100px) {
        @include full-width;
        height: 100vh;
    }

    @media screen and (min-width: 1330px) {
        min-height: 50vh;
    }

    @media screen and (min-width: 1500px) {
        @include full-width;
    }

    @media screen and (min-width: 1800px) {
        @include full-width;
    }
}

.projects-13 {
    @include base;

    &__content {
        margin-bottom: 5rem;

        & h1 {
            text-align: center;
            line-height: 1;
            font-size: 4.8rem;
            margin-bottom: 3rem;
            text-transform: uppercase;
            font-weight: 600;
        }

        & p {
            text-align: center;
            font-size: 3.2rem;
        }
    }

    &__circles {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1880px) {
            max-width: 1880px;
        }
    }

    &__circle-container {
        @media screen and (min-width: 768px) {
            flex: 1 1 50%;
            max-width: 50%;
        }
    }

    &__circle {
        margin: 4rem auto;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 1.4rem solid #fff;
        position: relative;

        & p {
            position: absolute;
            text-align: center;
        }
    }

    &__label-1a {
        top: 25%;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 2rem;
    }

    &__value-1a {
        font-weight: 600;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 7rem;
    }

    &__label-1b {
        top: 60%;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 2rem;
    }

    &__label-2a {
        font-size: 2rem;
        top: 55%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__value-2a {
        font-size: 7rem;
        font-weight: 600;
        top: 25%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__label-3a {
        font-size: 2rem;
        top: 20%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__value-3a {
        font-size: 7rem;
        font-weight: 600;
        top: 28%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__label-3b {
        font-size: 2rem;
        top: 60%; 
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__value-4a {
        font-size: 7rem;
        font-weight: 600;
        top: 25%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__label-4a {
        font-size: 2rem;
        top: 55%;
        bottom: 0;
        left: 0;
        right: 0;
    }
}