@mixin base {
    padding: 2rem;
    background-image: radial-gradient(circle at 50% 2%, rgba(255, 255, 255, 0.5), #cfcab9), linear-gradient(#e0ddce, #e0ddce);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }

    @media screen and (min-width: 1100px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 1330px) {
        min-height: 50vh;
    }
}

.projects-9 {
    @include base;

    & h1 {
        text-align: left;
        margin-bottom: 0;
        line-height: 0.8;
    }

    & p {
        max-width: 120rem;
        font-size: 2rem;
    }

    &__image-container {
        padding-top: 4em;  // mobile only

        @media screen and (min-width: 1100px) {
            padding-top: initial;
            padding-left: 2rem;
        }
    }

    &__image {
        height: 200px;
        width: auto;

        @media screen and (min-width: 680px) {
            height: 350px;
        }

        @media screen and (min-width: 1300px) {
            height: 479px;
        }
    }

    &__content {
        @media screen and (min-width: 1100px) {
            flex: 1 1 33.3333%;
        }
    }
}