@mixin base {
    padding: 2rem;
    background-image: radial-gradient(circle at 50% 0, rgba(184, 227, 180, 0.5), rgba(103, 131, 100, 0.5)), linear-gradient(#688465, #688465);

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }
}

.projects-7 {
    @include base;

    & h1 {
        text-align: left;
    }

    & p {
        max-width: 120rem;

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }
}