@mixin base {
    align-items: center;
    display: flex;
    justify-content: center;
}

.projects-10 {
    @include base;

    p {
        font-size: 3.2rem;
        max-width: 120rem;
        text-align: center;
    }

    &__content {
        h1 {
            font-size: 4.8rem;
            font-weight: 600;
            // line-height: 1;
            margin-bottom: 3rem;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__image {
        height: auto;
        margin-bottom: 6.6rem;
        width: 68.5rem;
    }
}

.projects-10--unum {
    @extend .projects-10;

}