@mixin base {
    align-items: center;
    display: flex;
    justify-content: center;
}

.projects-a {
    @include base;

    h1 {
        margin-bottom: 3rem;
    }

    p {
        text-align: center;
        
    }

    &__group::after {
        border: 0.5px solid rgba(255, 255, 255, 0.5);
        content: '';
        display: block;
        margin: 6rem auto;
        width: 15rem;
    }
}

.piloting-1 {
    list-style-type: none;

    &__value {
        font-size: 9rem;
        font-weight: 700;
        padding-bottom: 2rem;

        @media screen and (min-width: 768px) {
            font-size: 12rem;
        }
    }

    &__label {
        font-size: 2rem;
        padding-bottom: 2rem;
        @media screen and (min-width: 768px) {
            font-size: 3.5rem;
        }
    }

    &__para {
        text-align: center;
        text-transform: uppercase;
    }
}