@mixin base {
    padding: 2rem;
    background-image: radial-gradient(circle at 52% 0, #90c869, #60953a), linear-gradient(#67a14c, #67a14c);
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        padding: 4rem;
    }

    @media screen and (min-width: 1330px) {
        min-height: 50vh;
    }
}

.projects-10 {
    @include base;

    & h1 {
        font-size: 6rem;
        line-height: 0.8;
    }

    & p {
        max-width: 120rem;
        text-align: center;
        font-size: 3.2rem;
    }
}