@mixin base {
    padding: 2rem;
    background-image: radial-gradient(circle at 52% 0, #90c869, #60953a), linear-gradient(#67a14c, #67a14c);
    min-height: 100vh;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        padding: 4rem;
    }

    @media screen and (min-width: 1100px) {
        height: 150vh;
    }

    @media screen and (min-width: 1330px) {
        @include full-width;
    }

    @media screen and (min-width: 1500px) {
        @include full-width;
    }

    @media screen and (min-width: 1800px) {
        @include full-width;
    }
}

.projects-10 {
    @include base;

    & p {
        max-width: 120rem;
        text-align: center;
        font-size: 3.2rem;
    }

    &__content {
        & h1 {
            text-align: center;
            line-height: 1;
            font-size: 4.8rem;
            margin-bottom: 3rem;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    &__image {
        margin-top: -10%;
        width: 30rem;
        height: auto;
        margin-bottom: 2rem;
    }
}

.projects-10--unum {
    @extend .projects-10;
    background-image: none;
    background-color: #627f95;
}