@mixin base {
    // padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle at 52% 0, #90c869, #60953a), linear-gradient(#67a14c, #67a14c);

    @media screen and (min-width: 768px) {
        // padding: 4rem;
    }

    @media screen and (min-width: 1100px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // @include full-width;
    }

    @media screen and (min-width: 1330px) {
        min-height: 50vh;
    }

    @media screen and (min-width: 1500px) {
        // @include full-width;
    }

    @media screen and (min-width: 1800px) {
        // @include full-width;
    }
}

.projects-1 {
    @include base;

    & p {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    &__image-container {
        padding-top: 4em;  // mobile only

        @media screen and (min-width: 1100px) {
            padding-top: initial;
            padding-left: 2rem;
            
        }
    }

    &__image {
        height: 200px;
        width: auto;

        @media screen and (min-width: 680px) {
            height: 350px;
        }

        @media screen and (min-width: 1300px) {
            height: 479px;
        }
    }

    &__image2 {

        height: 200px;
        width: auto;

        @media screen and (min-width: 680px) {
            height: 350px;
        }

        @media screen and (min-width: 1300px) {
            height: 370px;
        }

    }

    &__content {
        @media screen and (min-width: 1100px) {
            flex: 1 1 33.3333%;
        }

        & h1 {
            text-align: left;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 4.8rem;
            margin: 3rem 0;
        }
    }
}

.projects-1--unum {
    @extend .projects-1;
    background-image: radial-gradient(circle at 50% 4%, #319fbd, #017999), linear-gradient(#0085a9, #0085a9);
}