@mixin base {
    padding: 2rem;
    background-color: #1f3340;

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }
}

.projects-8 {
    @include base;

    & h1 {
        text-align: left;
    }

    & p {
        max-width: 120rem;

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }
}