@mixin base() {
    display: none;
    font-size: 1.6rem;
    margin: 1rem;
    position: fixed;
    right: 0;
    top: 25%;
    text-align: right;
    z-index: 1;
}

.main-nav {
    @include base;

    @media all and (min-width: 768px) {
        display: block;
    }

    h1 {
        color: #ddd;  
        font-size: 2.4rem;
        font-weight: 300;
        margin-bottom: 0;
        padding-right: 1rem;
        text-transform: uppercase;
    }   
 
    ul {
        margin-top: 0;
    }

    @import "list";
    @import "item";
    @import "link";
    @import "link-text";
}