@mixin base() {
    margin: 1rem;
    position: fixed;
    right: 0;
    top: 25%;
    text-align: right;
    z-index: 1;
}

.main-nav {
    @include base;

    h1 {  
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0;
        font-size: 2.75rem;
        padding-right: 1rem;
    }   
 
     ul {
        margin-top: 0;
    }

    @import "list";
    @import "item";
    @import "link";
    @import "link-text";
}