@mixin base {
    padding: 2rem;
    max-width: 100vw;
    // min-height: 100vh;

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }

    @media all and (min-width: 1163px) {
        max-width: 60vw;
    }

    @media screen and (min-width: 1100px) {
        @include full-width;
        height: 100vh;
    }

    @media screen and (min-width: 1500px) {
        @include full-width;
    }

    @media screen and (min-width: 1800px) {
        @include full-width;
    }
}

.comparison-1 {

    margin: 0 auto;
    flex: 1 1 100%;

    @media screen and (min-width: 1163px) {
        margin: unset;
    }

    @include base;

    & h1 {
        font-size: 6rem;
        text-align: left;
  
    }

    & p {
        font-size: 2rem;
        text-align:left; 
        padding-bottom: 2rem; 
    }

    & sup {
        text-align: left;
    }

    & li {
        font-size: 2.4rem;
        font-weight: normal;
        list-style-type: none;
    }

    &__value {
        font-size: 12.9rem;
        font-weight: normal;
    }

    &__content {
        color: #8c8c8c;
        font-size: 2rem;
        display: block;
        padding-top: 4rem;
        padding-right: 4rem;
        padding-left: 4rem;
    }



    @media screen and (min-width: 1163px) {

        flex: 1 1 25%;

    }

}

.comparison-2 {
    @include base;

    &__circles {
        padding-top: 4rem;
    }

    &__circle {
        margin: 4rem auto;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        line-height: 250px;
        font-weight: 600;
        position: relative;

    @media screen and (min-width: 1000px) {
        display: inline-block;
        margin: 0 4rem;
    }

    &::before, &::after {
        content: '';
        border: 1.5rem solid #aaa;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-color: $yellow #fff #fff $yellow;
        // transform: rotate(-45deg);
        transition: transform 1s;
    }

    &::after {
        border-color: transparent transparent white transparent;
    }

    &::before {
        transform: rotate(135deg);
    }
        &-value {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 5rem;
            margin: 0;
            padding: 0;
        }

        &-label {
            position: absolute;
            top: 55px;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 4rem;
            margin: 0;
            padding: 0;
            font-weight: 400;

            &-a {
                font-size: 2rem;
                position: absolute;
                top: 55px;
                bottom: 0;
                left: -1px;
                right: 0;
            }
        }

        &-percent {
            position: absolute;
            top: 30px;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 2rem;
            margin: 0;
            padding: 0;
            font-weight: 400;

            &-1 {
                position: absolute;
                top: -30px;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 6rem;
                margin: 0;
                padding: 0;
                font-weight: 400;
            }
        }
    }


}

.comparison-3 {
    @include base;

    flex: 1 1 100%;
    padding-top: 5rem;

    ul {
        padding: 0;
    }

    li {
        font-size: 2.4rem;
        font-weight: normal;
        list-style-type: none;
        color: #8c8c8c;
        margin-top: -3rem;
    }

    @media screen and (min-width: 1163px) {
        flex: 1 1 25%;
        margin-left: -23rem;
        margin-right: -23rem;
    }
}


.comparison-4 {
    
    @include base;

    &__circles {
        padding-top: 4rem;
    }

    &__circle {
        margin: 4rem auto;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        line-height: 250px;
        font-weight: 600;
        position: relative;

    @media screen and (min-width: 1000px) {
        display: inline-block;
        margin: 0 4rem;
    }

    &::before, &::after {
        content: '';
        border: 1.5rem solid #aaa;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-color: #fff $ocean #fff $ocean;
        transform: rotate(-45deg);
        transition: transform 1s;
    }

    &::after {
        border-color: transparent transparent $ocean transparent;
    }

    &::before {
        transform: rotate(-45deg);
    }
        &-value {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 5rem;
            margin: 0;
            padding: 0;
        }

        &-label {
            position: absolute;
            top: 55px;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 4rem;
            margin: 0;
            padding: 0;
            font-weight: 400;

            &-a {
                font-size: 2rem;
                position: absolute;
                top: 55px;
                bottom: 0;
                left: -1px;
                right: 0;
            }
        }

        &-percent {
            position: absolute;
            top: 30px;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 2rem;
            margin: 0;
            padding: 0;
            font-weight: 400;

            &-1 {
                position: absolute;
                top: -30px;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 6rem;
                margin: 0;
                padding: 0;
                font-weight: 400;
            }
        }
    }
}

.comparison-5 {
    flex: 1 1 100%;
    display: none;

    @media screen and (min-width: 1163px) {
        flex: 1 1 25%;
        display: flex;
  
}
}

.comparison-6 {
    flex: 1 1 100%;
    display: none;

    @media screen and (min-width: 1163px) {
        flex: 1 1 25%;
        display: flex;

        
}       
    
    
}
        
.yellow {
    color: $yellow;
}

.blue {
    color: $ocean;
}
