@mixin base {
    padding: 2rem;

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }


}

.comparison-1 {

    flex: 1 1 100%;

    @include base;

    & h1 {
        font-size: 6rem;
    }

    & p {
        font-size: 2rem;
    }

    & li {
        font-size: 2.4rem;
        font-weight: normal;
        list-style-type: none;
    }

    &__value {
        font-size: 12.9rem;
        font-weight: normal;
    }

    &__content {
        color: #8c8c8c;
        font-size: 2rem;
    }

    @media screen and (min-width: 768px) {

    }

}
.comparison-3 {
    @include base;

    flex: 1 1 100%;

    & h1 {
        font-size: 6rem;
    }

    & p {
        font-size: 2rem;
    }

    & li {
        font-size: 2.4rem;
        font-weight: normal;
        list-style-type: none;
    }

    &__value {
        font-size: 12.9rem;
        font-weight: normal;
    }

    &__content {
        color: #8c8c8c;
        font-size: 2rem;
    }

    @media screen and (min-width: 768px) {

    }
}

.comparison-2 {
    @include base;

    flex: 1 1 100%;

    li {
            font-size: 2.4rem;
            font-weight: normal;
            list-style-type: none;
            color: #8c8c8c;
            margin-top: -3rem;
        }
    }

.comparison-3 {
    @include base;
    flex: 1 1 100%;
    // margin-bottom: 31rem;
}

.comparison-4 {
    flex: 1 1 100%;
}

.comparison-5 {
    flex: 1 1 100%;
}

.comparison {        

        &__rectangle-1 {
            width: 180px;
            height: 119px;
            background-color: $yellow;
            margin: 0 auto;
            display: none;
        }

        &__rectangle-2 {
            width: 150px;
            height: 539px;
            background-color:$ocean;
            margin: 0 auto;
            display: none;
        }
    }
        
.yellow {
    color: $yellow;
}

.blue {
    color: $ocean;
}
