@mixin base {
}

.showcase__panel--comparison {
    
}

.comparison-1 {
    @include base;

    margin: 0 auto;
    
    @media screen and (min-width: 1100px) {
        margin: unset;
    }

    &__content {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        // max-width: 130rem;
        margin: 0 auto;
        text-align: left;

            p {
                margin-bottom: 2rem;
            }

            sup {
                color: #8c8c8c;
            }

            li {
                list-style-type: none;
            }
    }

    @media screen and (min-width: 1100px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.comparison-2,
.comparison-4 {

    &__circle {
        border-radius: 50%;
        color: #fff;
        font-weight: 600;
        height: 250px;
        line-height: 250px;
        margin: 4rem auto;
        position: relative;
        text-align: center;
        width: 250px;

        &:before, &:after {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 50%;
            transition: transform 1s;
            border: 1.5rem solid #aaa;
        }

        &-value {
            bottom: 0;
            font-size: 5rem;
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        &-label {
            bottom: 0;
            font-size: 4rem;
            font-weight: 400;
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 55px;
        
            &-a {
                bottom: 0;
                font-size: 2rem;
                left: -1px;
                position: absolute;
                right: 0;
                top: 55px;
            }
        }

        &-percent {
            bottom: 0;
            font-size: 2rem;
            font-weight: 400;
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 30px;
        }

        &-percent-1 {
                bottom: 0;
                font-size: 6rem;
                font-weight: 400;
                left: 0;
                margin: 0;
                padding: 0;
                position: absolute;
                right: 0;
                top: -30px;
        }
    }
}

.comparison-2 {
    @include base;

    &__circles {
        padding-top: 4rem;
        text-align: left;
    }

    &__circle {

        &::before, &::after {
            border-color: $yellow #fff #fff $yellow;
        }

        &::after {
            border-color: transparent transparent white transparent;
        }

        &::before {
            transform: rotate(135deg);
        }
    }

    &__content {
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        // max-width: 130rem;
        margin: 0 auto;

        @media screen and (min-width: 1100px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .comparison-2__circles,
            .comparison-3,
            .comparison-4__circles {
                flex-basis: 33%;
                flex-grow: 1;
                flex-shrink: 0;
                padding: 0;
            }

            .comparison-3 {
                margin: 15rem 0;
            }
        }
    }
 }

.comparison-3 {
    @include base;

    padding-top: 5rem;

    ul {
        padding: 0;
    }

    li {
        color: #8c8c8c;
        list-style-type: none;
        margin-top: -3rem;
    }
}


.comparison-4 {
    @include base;

    &__circle {

        &::before, &::after {
            border-color: #fff $ocean #fff $ocean;
            transform: rotate(-45deg);
        }

        &::after {
            border-color: transparent transparent $ocean transparent;
        }

        &::before {
            transform: rotate(-45deg);
        }
    }
}
        
.blue {
    color: $ocean;
}

.gray {
    color: $gray;
}

.yellow {
    color: $yellow;
}