@mixin base {
    background-image: radial-gradient(circle at 50% 0, #635e5f, #221f20);
    min-height: 100vh;
    // display: flex;
}

.comparison {
    @include base;

    &-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    @import 'comparison-1';
}