@mixin base {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.persona-1 {
    @include base;

    &__value {
        font-size: 12rem;
    }

    &__label {
        @include footnote-font;
    }
    
    &__content {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        p {
            // font-size: 2rem;
        }

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    .yellow {
        color: $yellow;
    }
}

.persona-2 {
    @include base;

    &__content {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    &__image {
        width: 400px;
    }

}

