@mixin base {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
        padding: 4rem;
        
    }
}

.persona-1 {
    @include base;

    

    &__content {

        & p {
            font-size: 2rem;
        }

        flex: 1 1 100%;
        @media screen and (min-width: 768px) {
            flex: 1 1 33.3333%;
        }
    }
}

.persona-2 {
    @include base;

    &__value {
        font-size: 12rem;
    }

    &__label {
        font-size: 2rem;
        font-weight: 600;
    }

    &__content {
        flex: 1 1 100%;
    }
}

.persona-3 {
    @include base;

    &__image {
        padding-top: 3rem;
        width: 60rem;
    }

    &__content {
        flex: 1 1 100%;
    }

}
