@mixin base {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1100px) {
    }

    @media screen and (min-width: 1500px) {
    }

    @media screen and (min-width: 1800px) {
    }
}

.persona-1 {
    @include base;

    &__value {
        font-size: 12rem;
        margin: 0 auto;
    }

    &__label {
        font-size: 2rem;
        font-weight: 600;
        margin: 0 auto;
    }
    
    &__content {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        p {
            font-size: 2rem;
        }

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    .yellow {
        color: $yellow;
    }
}

.persona-2 {
    @include base;

    &__content {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    &__image {
        width: 400px;

        @media screen and (min-width: 1100px) {
            width: 500px;
        }

        @media screen and (min-width: 1400px) {
            width: 600px;
        }

        @media screen and (min-width: 1800px) {
            width: 800px;
        }
    }

}

