@mixin base {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        padding: 4rem;
    }

    @media screen and (min-width: 1330px) {
        min-height: 50vh;
    }
}

.engage-1 {
    @include base;

    & h1 {
        font-size: 8rem;
        line-height: 0.8;
        font-weight: 600;
        margin: 0;
        padding-bottom: 2rem;

        @media screen and (min-width: 768px) {
            font-size: 9.9rem;
        }
    }

    & p {
        font-size: 2.8rem;
        // max-width: 120rem;

        @media screen and (min-width: 768px) {
            font-size: 3.2rem;
        }
    }
}

.yellow {
    color: $yellow;
}

