@mixin base {
    align-items: center;
    background-image: linear-gradient(#005488, #005488);
    display: flex;

    @media screen and (min-width: 1330px) {
    }

}

.engage {
    @include base;

    @import 'engage-1';
}
