@mixin base {

    display: flex;
    flex-direction: column;

}

.starmount-1 {
    @include base;

    

    &__image {
        width: 37rem;
        margin-left: 5rem;
    }

    & p {
        font-size: 3rem;
        font-weight: normal;
        text-align: left;
        margin-left: 6rem;
        max-width: 120rem;
    }


}