@mixin base {
    // text-align: left;
    // padding: 2rem;

    @media screen and (min-width: 768px) {
        // padding: 4rem;
    }

    @media screen and (min-width: 1100px) {
        // @include full-width;
    }

    @media screen and (min-width: 1500px) {
        // @include full-width;
    }

    @media screen and (min-width: 1800px) {
        // @include full-width;
    }
}

.starmount-1 {
    @include base;

    &__image-container {
        margin: 0 auto;
        // max-width: 120rem;
    }
    

    &__image {
        width: 37rem;
        // margin: 0 auto;
        // max-width: 120rem;

        @media screen and (min-width: 768px) {
            width: 50rem;
        }

        @media screen and (min-width: 1320px) {
            
        }
    }

    & p {
        font-size: 3rem;
        // max-width: 120rem;
        // margin: 0 auto;
        // padding-top: 2rem;
    }


}