@mixin base {

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1100px) {
    }

    @media screen and (min-width: 1500px) {
    }

    @media screen and (min-width: 1800px) {
    }
}

.starmount-1 {
    @include base;
    
    p {
        font-size: 3rem;
    }

    &__image-container {
        margin: 0 auto;
    }
    
    &__image {
        width: 37rem;

        @media screen and (min-width: 768px) {
            width: 50rem;
        }

        @media screen and (min-width: 1320px) {
            
        }
    }



}