@mixin base() {
    width: 50%;
    margin: 0 auto;
    display: block;
}

&__image {
    @include base;

    width: 75%;

    @media all and (min-width: 1024px) {
        margin-left: 5rem;
        float: right;
        width: 50%;
    }

    &--fullwidth {
        @include base;
    }
}