@mixin base {
    padding-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 0;
}

&__item {
    @include base;

    // & + & {
    //     padding-left: 6rem;
    // }

    &-footnote {
        font-size: 1.2rem;
        max-width: 15rem;
        margin: 1rem auto;

        @media screen and (min-width: 1024px) {
            margin: 1.5rem 0;
        }
    }

    &-emphasize {
        font-weight: 700;
        font-size: 3.5rem;

        @media screen and (min-width: 1024px) {
            font-size: 5rem;
        }
    }
}