@mixin base() {
    font-size: 1.8rem;
    overflow: auto;

    @media all and (min-width: 1024px) {
        text-align: left;
    }
}

.standard-project {
    @include base;

    &--reverse {
        @include base;

        color: #444;
    }

    @import "image";
    @import "heading";
    @import "subheading";
}