@mixin base() {
    font-size: 1.8rem;
    overflow: auto;
    text-align: left;
}

.standard-project {
    @include base;

    &--reverse {
        @include base;

        color: #444;
    }

    @import "image";
    @import "heading";
    @import "subheading";
    @import 'list';
    @import 'item';
}