@mixin base {
    background-image: linear-gradient(to top, #45536f, #222a3a);
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.persona {
    @include base 

    @import 'persona-1';
}