@mixin base {
    padding: 2rem;
    padding-bottom: 10rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1a2833;

    @media screen and (min-width: 1100px) {
        @include full-width;
        height: 100vh;
    }

    @media screen and (min-width: 768px) {
        padding: 4rem;
        padding-bottom: 10rem;
    }

    @media screen and (min-width: 1330px) {
        // min-height: 50vh;
    }

    @media screen and (min-width: 1500px) {
        @include full-width;
    }

    @media screen and (min-width: 1800px) {
        @include full-width;
    }
}

.stats-3 {
    @include base;

    @media screen and (min-width: 1100px) {
        height: 150vh;
    }

    & h1 {
        margin: 0;
        font-size: 4.8rem;
    }

    &__para {
        margin-top: 0;
        font-size: 3rem;
    }

    &__circles {
        padding-top: 4rem;
    }

    &__circle {
        &-label-a {
            font-size: 2rem;
            text-transform: uppercase;
            position: absolute;
            top: 75px;
            bottom: 0;
            left: -1px;
            right: 0;
        }
    }

    &__label-a {
        font-size: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        &::before {
            content: '';
            display: block;
            width: 150px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            margin: 2rem auto;
        }

        &::after {
            content: '';
            display: block;
            width: 150px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            margin: 2rem auto;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 3.5rem;
        }
    }
}

.stats-3--unum {
    @extend .stats-3;
    background-color: #375469;
}

.stats-3__circle {
    margin: 4rem auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 210px;
    font-size: 50px;
    font-weight: 600;
    border: 1rem solid $lime-green;
    position: relative;

    @media screen and (min-width: 1000px) {
        display: inline-block;
        margin: 0 4rem;
    }

    &-value {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 5rem;
        margin: 0;
        padding: 0;
    }

    &-label {
        position: absolute;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 4rem;
        margin: 0;
        padding: 0;
        font-weight: 400;
    }

    &-percent {
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 4rem;
        margin: 0;
        padding: 0;
        font-weight: 400;
    }
}

.stats-3__circle--percent-1, .stats-3__circle--percent-2, .stats-3__circle--percent-3 {
    margin: 4rem auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 250px;
    font-weight: 600;
    position: relative;

    @media screen and (min-width: 1000px) {
        display: inline-block;
        margin: 0 4rem;
    }

    &::before, &::after {
        content: '';
        border: 1.5rem solid #aaa;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-color: $lime-green #fff #fff $lime-green;
        // transform: rotate(-45deg);
        transition: transform 1s;
    }

}

.stats-3__circle--percent-1 {
    background-image: url('../../../images/apple-monitor-1-icon.svg');
    background-repeat: no-repeat;
    background-position: 50% 30%;

    &::after {
        border-color: transparent transparent $lime-green transparent;
    }

    &::before {
        transform: rotate(135deg);
    }

}

.stats-3__circle--percent-2 {
    background-image: url('../../../images/smartphone-icon.svg');
    background-repeat: no-repeat;
    background-position: 50% 30%;

    &::after {
        border-color: white transparent transparent white;
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(45deg);
    }
}

.stats-3__circle--percent-3 {
    background-image: url('../../../images/tablet-icon.svg');
    background-repeat: no-repeat;
    background-position: 50% 30%;

    &::after {
        border-color: white transparent transparent white;
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(-25deg);
    }
}