@mixin base {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-3 {
    @include base;

    h1 {
        font-size: 4rem;
        margin: 0;

        @media all and (min-width: 786px) {
            font-size: 4.8rem;
        }
    }

    &__para {
        font-size: 3rem;
        margin-top: 0;
    }

    &__circles {
        padding-top: 4rem;
    }

    &__circle {

        &-label-a {
            bottom: 0;
            font-size: 2rem;
            left: -1px;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            top: 75px;
        }
    }

    &__label-a {
        font-size: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        &::before {
            content: '';
            display: block;
            width: 15rem;
            border: 1px solid rgba(255, 255, 255, 0.5);
            margin: 2rem auto;
        }

        &::after {
            content: '';
            display: block;
            width: 15rem;
            border: 1px solid rgba(255, 255, 255, 0.5);
            margin: 2rem auto;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 3.5rem;
        }
    }
}

.stats-3--unum {
    @extend .stats-3;
}

.stats-3__circle {
    border: 1rem solid $lime-green;
    border-radius: 50%;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    height: 25rem;
    line-height: 21rem;
    margin: 4rem auto;
    position: relative;
    text-align: center;
    width: 25rem;

    @media all and (min-width: 768px) {
        border: 1rem solid $lime-green;
        border-radius: 50%;
        color: #fff;
        font-size: 5rem;
        font-weight: 600;
        height: 30rem;
        line-height: 21rem;
        margin: 4rem auto;
        position: relative;
        text-align: center;
        width: 30rem;
    }

    @media screen and (min-width: 1000px) {
        display: inline-block;
        margin: 0 4rem;
    }

    &-value {
        bottom: 0;
        font-size: 5rem;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &-label {
        bottom: 0;
        font-size: 4rem;
        font-weight: 400;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 55px;
    }

    &-percent {
        bottom: 0;
        font-size: 4rem;
        font-weight: 400;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 55px;

        @media all and (min-width: 768px) {
            bottom: 0;
            font-size: 4rem;
            font-weight: 400;
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 40px;
        }
    }
}

.stats-3__circle--percent-1, .stats-3__circle--percent-2, .stats-3__circle--percent-3 {
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    height: 25rem;
    line-height: 25rem;
    margin: 4rem auto;
    position: relative;
    text-align: center;
    width: 25rem;

    @media screen and (min-width: 1000px) {
        display: inline-block;
        margin: 0 4rem;
    }

    &::before, &::after {
        border: .75rem solid #aaa;
        border-color: $lime-green #fff #fff $lime-green;
        border-radius: 50%;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        transition: transform 1s;
        top: 0;

        @media all and (min-width: 768px) {
            border: 1.5rem solid #aaa;
            border-color: $lime-green #fff #fff $lime-green;
            border-radius: 50%;
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            transition: transform 1s;
            top: 0;
        }
    }

}

.stats-3__circle--percent-1 {
    background-image: url('../images/apple-monitor-1-icon.svg');
    background-position: 50% 30%;
    background-repeat: no-repeat;

    &::after {
        border-color: transparent transparent $lime-green transparent;
    }

    &::before {
        transform: rotate(135deg);
    }

}

.stats-3__circle--percent-2 {
    background-image: url('../images/smartphone-icon.svg');
    background-position: 50% 30%;
    background-repeat: no-repeat;

    &::after {
        border-color: white transparent transparent white;
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(45deg);
    }
}

.stats-3__circle--percent-3 {
    background-image: url('../images/tablet-icon.svg');
    background-position: 50% 30%;
    background-repeat: no-repeat;

    &::after {
        border-color: white transparent transparent white;
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(-25deg);
    }
}