.stats-1 {

    ul {
        list-style-type: none;
        padding: 0;
        
        li {
            margin-top: 2rem;
        }
    }

    .emphasized-content {
        @include emphasized-content;

        font-weight: 600;
        text-transform: uppercase;
    }

    .emphasized-number {
        @include emphasized-number;

        display: block;
        font-weight: 600;
        line-height: 100%;
        margin-top: 4rem;
    }

    .printer {
        width: 32rem;
        margin-bottom: 5rem;

        @media screen and (min-width: 768px) {
            width: 37rem;
        }
    }
}