@mixin base() {
    padding: 2rem;
    padding-bottom: 10rem;
}

.stats-1 {
    @include base;

    & ul {
        list-style-type: none;
        padding: 0;
        
        & li {
            padding: 2rem;

            @media screen and (min-width: 768px) {
                display: inline-block;
            }
        }
    }

    &__value {
        font-size: 9rem;
        font-weight: 600;
    }

    &__label {
        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }

    &__description {
        padding: 10rem 0;
        max-width: 70rem;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            font-size: 3rem;
        }
    }
}