@mixin base() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-1 {
    @include base;

    ul {
        list-style-type: none;
        padding: 0;
        
        li {
            padding: 2rem;
        }
    }

    &__value {
        font-size: 9rem;
        font-weight: 700;
        padding-bottom: 2rem;

        &-a {
            font-size: 20rem;
            font-weight: 700;
        }

        @media screen and (min-width: 768px) {
            font-size: 12rem;
        }
    }

    &__label {
        font-size: 2rem;
        padding-bottom: 2rem;

        @media screen and (min-width: 768px) {
            font-size: 3.5rem;
        }

        &-b {
            font-size: 4.8rem;
            font-weight: 600;
            margin-top: -3rem;
            text-transform: uppercase;
        }
    }

    &__label-a {
        font-size: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        &::before {
            border: 1px solid rgba(255, 255, 255, 0.5);
            content: '';
            display: block;
            margin: 2rem auto;
            width: 150px;
        }

        &::after {
            border: 1px solid rgba(255, 255, 255, 0.5);
            content: '';
            display: block;
            margin: 2rem auto;
            width: 150px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 3.5rem;
        }
    }

    &__description {
        margin: 0 auto;
        max-width: 70rem;
        padding: 10rem 0;

        @media screen and (min-width: 768px) {
            font-size: 3rem;
        }
    }

    .digital-heading {
        font-size: 4.8rem;
        margin-bottom: -2rem;
    }

    .printer {
        width: 34rem;

        @media screen and (min-width: 768px) {
            width: 37rem;
        }
    }

    .yellow {
        color: $yellow;
    }
}

.stats-1--unum {
    @extend .stats-1;
}

.stats-a--unum {
}