@mixin base {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-2 {
    @include base;

    h1 {
        margin: 0;
    }

    &__para {
        margin-top: 0;
    }

    &__circles {
        margin: 0 auto;
        margin-top: 5rem;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__circle-container {
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 1;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
        }

        @media screen and (min-width: 1024px) {
            flex-basis: 33.3333%;
        }
    }
}

.stats-2--unum {
    @extend .stats-2;
}

.stats-2__circle {

    border: 1rem solid $ocean;
    border-radius: 50%;
    color: #fff;
    height: 25rem;
    line-height: 21rem;
    margin: 4rem auto;
    position: relative;
    text-align: center;
    width: 25rem;

     @media all and (min-width: 768px) {
        border: 1rem solid $ocean;
        height: 30rem;
        position: relative;
        width: 30rem;
    }

    @media screen and (min-width: 1000px) {
        display: inline-block;
        margin: 0 4rem;
    }

    &-value {
        bottom: 0;
        font-size: 5rem;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &-label {
        bottom: 0;
        font-size: 4rem;
        font-weight: 400;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 55px;

        &-a {

            bottom: 0;
                font-size: 2rem;
                left: -1px;
                position: absolute;
                right: 0;
                text-transform: uppercase;
                top: 40px;

            @media all and (min-width: 768px) {
                bottom: 0;
                left: -1px;
                position: absolute;
                right: 0;
                text-transform: uppercase;
                top: 65px;
            }
        }
    }

    &-percent {
        bottom: 0;
        font-size: 3.5rem;
        font-weight: 400;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 15px;

        @media all and (min-width: 768px) {
            bottom: 0;
            font-size: 4rem;
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top:40px;
        }
    }
}

.stats-2__circle--percent-1, .stats-2__circle--percent-2, .stats-2__circle--percent-3 {
    background-position: 50% 30%;
    background-repeat: no-repeat;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    line-height: 25rem;
    height: 20rem;
    margin: 4rem auto;
    position: relative;
    text-align: center;
    width: 20rem;

    @media all and (min-width: 768px) {
        height: 25rem;
        position: relative;
        width: 25rem;
    }

    @media screen and (min-width: 1000px) {
        display: inline-block;
        margin: 0 4rem;
    }

    &::before, &::after {

        border: .75rem solid #aaa;
        border-color: $ocean #fff #fff $ocean;
        border-radius: 50%;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform 1s;

        @media all and (min-width: 768px) {
            border: 1.5rem solid #aaa;
            border-color: $ocean #fff #fff $ocean;
            border-radius: 50%;
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: transform 1s;
        }
    }

}

.stats-2__circle--percent-1 {
    background-image: url('../images/apple-monitor-1-icon.svg');
    

    &::after {
        border-color: transparent transparent $ocean transparent;
    }

    &::before {
        transform: rotate(135deg);
    }
}

.stats-2__circle--percent-2 {
    background-image: url('../images/smartphone-icon.svg');

    &::after {
        border-color: white transparent transparent white;
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(45deg);
    }
}

.stats-2__circle--percent-3 {
    background-image: url('../images/tablet-icon.svg');

    &::after {
        border-color: white transparent transparent white;
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(-25deg);
    }
}