@mixin base {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.establish-1 {
    @include base;
    
    h1 {
            font-size: 6rem;
            font-weight: 600;
            // line-height: 0.8;

            @media screen and (min-width: 768px) {
                font-size: 9.9rem;
            }
        }

    p {
        font-size: 2.8rem;

        @media screen and (min-width: 768px) {
            font-size: 3.2rem;
        }
    }
}