@mixin base {
    background-image: linear-gradient(#7f2725, #7f2725);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.establish {
    @include base

    @import 'establish-1';
}