@mixin base() {

}

.page-header--colonial-life {
    // background-color: #1f4f7f;
    // background-image: 
    padding: 100px;
    
}

.page-header--home {
    background-color: #1f4f7f;
    padding: 100px;
}

.page-header__logo {
    margin: 0 auto;
    display: block;
    max-height: 50px;

    @media screen and (min-width: 768px) {
        max-height: 143px;
    }

}