@mixin enterprise-base() {
    padding: 5rem;
}

@mixin base() {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem 0;
    text-align: center;

    @media screen and (min-width: 768px) {
        background-size: 100%;
    }
}

.page-header--home {
    @include enterprise-base;
    align-items: center;
    align-content: center;
    background-color: #0F4E75;
    display: flex;
    justify-content: center;
    overflow: hidden;
    right: 0;
    left: 0;
    z-index: 999;
    
}

.page-header {
    @include base;

    &__logo {
        margin: 0 auto;
        width: 50%;

        @media all and (min-width:768px) {
            width: auto;
        }
    }

    &__logo2 {
        margin: 0 auto;
        max-width: 201px;
    }
}

.page-header__logo2 {
    margin: 0 auto;
}

.page-header--colonial-life {
    @include base;
    background-image: url('../images/colonial-header.jpg');
    background-position: 50% 40%;
}

.page-header--unum {
    @include base;
    background-image: url('../images/unum-header.jpg');
    background-position: 50% 50%;

    @media screen and (min-width: 1320px) {
        background-position: 50% 40%;
    }

    &__logo {
        margin-right: 0;
        height: 600px;
    }
}