@mixin base() {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem 0;
    text-align: center;

    @media screen and (min-width: 768px) {
        background-size: 100%;
    }
}

.page-header {
    @include base;

    &__logo {
        margin: 0 auto;
        width: 50%;
        margin: 2rem;

        @media all and (min-width:768px) {
            width: auto;
        }
    }

    &__logo2 {
        margin: 0 auto;
        // max-width: 140px;

        @media all and (min-width: 768px) {
            // max-width: 201px;
        }
    }
}

.page-header__logo2 {
    margin: 0 auto;
}

.page-header--home {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 1rem;
    padding-top: 1rem;
    //position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #04436A;

    .page-header__logo {
        margin-right: 2rem;

        @media all and (min-width: 768px) {
            margin-right: 10rem;
        }
    }

    &.scrolling {
        background-color: #005488;

        .page-header__logo,
        .page-header__logo2 {
            width: 50%;
        }
    }
}
.page-header--colonial-life {
    @include base;
    background-image: url('../images/colonial-header.jpg');
    background-position: 50% 40%;
}

.page-header--unum {
    @include base;
    background-image: url('../images/unum-header.jpg');
    background-position: 50% 50%;

    @media screen and (min-width: 1320px) {
        background-position: 50% 40%;
    }

    &__logo {
        margin-right: 0;
        height: 600px;
    }
}