html {
    box-sizing: border-box;
    font-size: 62.5%; //sets up 1rem to equal 10px. Allows easier conversion of rems.
}

*,
::before,
::after {
    box-sizing: inherit;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

body {
    background-color: #1f3340;
    color: #fff;
    font-family: "source sans pro", "helvetica", "arial", "sans-serif";
    font-size: $font-mobile;
    font-weight: 300;
    margin: 0;

   @media all and (min-width: 768px) {
        font-size: $font-tablet;
    }

    @media all and (min-width: 1024px) {
        font-size: $font-desktop;
    }

}

h1 {
    font-size: $h1-mobile;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 2rem;
    text-transform: uppercase;
    width: 100%;
    
    @media all and (min-width: 768px) {
        font-size: $h1-tablet;
    }

    @media all and (min-width: 1024px) {
        font-size: $h1-desktop;
    }
}


p {
    margin: 0 auto;
    width: 100%;
}


img {
    max-width: 100%;
}

div {
    font-size: $footnote-mobile;

    @media all and (min-width: 768px) {
        font-size: $footnote-tablet;
    }

    @media all and (min-width: 1024px) {
        font-size: $footnote-desktop;
    }
}

//TO REMOVE THE FEEDBACK link

.QSIFeedBackLink {
    display: none !important;
}