@mixin fillbar ($width, $color-primary, $color-secondary) {
    position: relative;
    display: block;
    height: 5px;
    border-radius: 3px;
    background: $color-primary;
    margin-top: 10px;
    &::after {
        position: absolute;
        display: block;
        width: 100% - $width;
        right: 0;
        top: 0;
        content: '';
        height: 5px;
        border-radius: 0 3px 3px 0;
        background: $color-secondary;
    }
}

@mixin full-width {
    margin: 0 calc(0px - (100vw - 100%) / 2);
  
/* setting padding left and right here will keep your content from spanning the entire container */
/* avoid setting padding in shorthand elsewhere to prevent overriding*/
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
}


@function get-nested-property($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

@function fs($size, $element) {
    @return get-nested-property($font-sizes, $size, $element);
}