$yellow: #f1c44f;
$ocean : #3baecc;
$lime-green: #8dbf47;
$gray: #ADADAD;

//Font Size Variables

$h1-mobile: 3.2rem;
$h1-tablet: 4.8rem;
$h1-desktop: 6.4rem;

$font-mobile: 1.6rem;
$font-tablet: 2.4rem;
$font-desktop: 3.2rem;

$footnote-mobile: 1.2rem;
$footnote-tablet: 1.8rem;
$footnote-desktop: 2.4rem;