$yellow: #f1c44f;
$ocean : #3baecc;
$lime-green: #8dbf47;
$gray: #ADADAD;

//Font Size Variables

$h1-mobile: 2.4rem;
$h1-tablet: 4.8rem;
$h1-desktop: 6.4rem;

$h2-mobile: 2rem;
$h2-tablet: 2.2rem;
$h2-desktop: 2.4rem;

$font-mobile: 1.8rem;
$font-tablet: 2rem;
$font-desktop: 2.4rem;

$footnote-mobile: 1.4rem;
$footnote-tablet: 1.6rem;
$footnote-desktop: 1.8rem;

$emphasized-content-mobile: 4vw;
$emphasized-content-tablet: 4vw;
$emphasized-content-desktop: 4rem;

$emphasized-number-mobile: 10rem;
$emphasized-number-tablet: 18rem;
$emphasized-number-desktop: 24rem;