$yellow: #f1c44f;
$ocean : #3baecc;
$lime-green: #8dbf47;
$gray: #ADADAD;

//Font Size Variables

$h1-mobile: 5vw;
$h1-tablet: 5vw;
$h1-desktop: 6.4rem;

$font-mobile: 5vw;
$font-tablet: 4vw;
$font-desktop: 3.2rem;

$footnote-mobile: 4vw;
$footnote-tablet: 3vw;
$footnote-desktop: 2.4rem;