html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

body {
    background-color: #1f3340;
    color: #fff;
    font-family: "source sans pro", "helvetica", "arial", "sans-serif";
    font-size: 1.6rem;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}