@import 'mixins';
@import 'variables';

@import 'components/header/header';
@import 'components/alert/alert';
@import 'components/agile-projects/agile-projects';
@import 'components/benefits-of-one/benefits-of-one';
@import 'components/comparison/comparison';
@import 'components/efficiencies/efficiencies';
@import 'components/email/email';
@import 'components/email-marketing/email-marketing';
@import 'components/engage/engage';
@import 'components/establish/establish';
@import 'components/field-office-pages/field-office-pages';
@import 'components/intro/intro';
@import 'components/lead-form-created/lead-form-created';
@import 'components/marketing-automation/marketing-automation';
@import 'components/new/new';
@import 'components/new-faq-page-created/new-faq-page-created';
@import 'components/persona/persona';
@import 'components/print-to-digital/print-to-digital';
@import 'components/projects/projects';
@import 'components/quality/quality';
@import 'components/relevant/relevant';
@import 'components/showcase/showcase';
@import 'components/sitecore/sitecore';
@import 'components/stats/stats';
@import 'components/starmount/starmount';
@import 'components/title/title';
@import 'components/videos/videos';
@import 'components/coming-in-2017/coming-2017';
@import 'components/footer/footer';


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

body {
    background-color: #1f3340;
    color: #fff;
    font-family: "source sans pro", "helvetica", "arial", "sans-serif";
    font-size: 1.6rem;
    margin: 0;
}

h1 {
    font-size: 3.2rem;
    width: 100%;
}

h2 {
    font-size: 2.4rem;
}